---
import Layouts from "../layouts/Layouts.astro"; 
---
<Layouts title="About me">
<div class="container">
    <h1 class="about-h1">
        About me 
    </h1>
   <div class="about-intro">
    Greetings! I'm <strong>Priscilla</strong>, an enthusiastic junior front-end developer that loves creating visually stunning and user-friendly
    websites and Apps. Aside from my new love for coding I also enjoy travelling, good music and quality time with loved ones!</div>
    
    <h2 class="about-h2">Skills</h2>
    <div class="about-content container">
    <div class="row">
<div class="col-sm p-2"><h3 class="about-h3"> <i class="fa-brands fa-css3-alt about-icons"></i></h3> CSS3</div>
    
    <div class="col-sm p-2"><h3 class="about-h3"><i class="fa-brands fa-html5 about-icons"></i></h3> HTML5</div>
    
    <div class="col-sm p-2"><h3 class="about-h3"><i class="fa-brands fa-square-js about-icons"></i></h3> JavaScript </div>

     <div class="col-sm p-2"><h3 class="about-h3"><i class="fa-brands fa-react about-icons"></i></h3>React.js  </div>
    
    <div class="col-sm p-2"><h3 class="about-h3"><i class="fa-brands fa-bootstrap about-icons"></i></h3> Bootstrap</div>
    
    <div class="col-sm p-2"><h3 class="about-h3"><i class="fa-solid fa-location-dot about-icons"></i></h3> API Integration </div>
    
    <div class="col-sm p-2"><h3 class="about-h3"><i class="fa-solid fa-mobile-screen-button about-icons"></i></h3> Responsiveness</div>
</div>
</div>
<div class="container about-bottom-page">In addition to my technical skills, I am a detail-oriented person who values
    clean code, efficiency, and
    continuous learning. I thrive on challenging projects that allow me to push the boundaries of my creativity and
    problem-solving abilities. If you're seeking a dedicated front-end developer I would love to join your team and
    create amazing user-friendly websites and Apps. </div>
</div>
<div class="container about-btn-container">
    <button type="button" class="btn btn-dark about-btn">
        <a href="projects.html" class="about-project-link-btn">Projects</a> 
    </button>
</div>

  
</div>
</Layouts>
<style>
     .about-h1 {
        font-family: var(--heading-font-family);
        font-size: 80px;   
        padding: 20px;
    }
    .about-intro , .about-bottom-page {
        font-family: var(--paragraph-font-family);
        font-size: 18px;
    }
    .about-h2{
    font-family: var(--default-font-family);
    font-size: 50px;
    padding-top: 20px;
    }
    .about-h3 {
        font-family: var(--default-font-family);
        font-weight: bold;
    }
    .about-content{
        font-family: var(--paragraph-font-family);
        font-size: 18px;
        text-align: center;
        line-height: 1.5;
        padding: 15px;
        border-style: double;
        border-radius: 10px;
        font-weight: bold;
    }
    .about-icons{
        font-size: 40px;
    }
    .about-bottom-page{
        padding-top: 20px; 
    }
    .about-btn {
      background-color: black;
      font-size: 20px;
      font-family: var(--default-font-family);
     padding: 15px;
      margin: 10px;
      box-shadow: 2px 2px 2px gray;
    }
    .about-project-link-btn , .visit-project{
     text-decoration: none;
     color: white;
    }
    .about-project-link-btn:hover
    {
        color: black;
    }
    .about-btn:hover{
        color: black;
        background-color: white;
        transition: all 2ms ease-in-out;
        cursor: pointer;
    }
    .about-btn-container{
        padding: 20px;
    }

@media (max-width:900px) {
    .about-h1  {
            font-size: 80px;
            padding: 20px;     
        }
        .about-content {
            padding-top: 10px;
        }
    
}
</style>