---
import Layouts from "../layouts/Layouts.astro";
import Logo from "../../src/images/PS-dark.png"; 
---
<Layouts title="Contact me">

<div class="container">
    <h1 class="contact-h1">Contact me!</h1>
    <div class="row">
    <div class="col-sm contact-p">If you have any questions or would like to clarify any doubts, don't resitate. Send me an e-mail or direct message through my social media accounts. I love new opportunities and challenges. </div>
</div>
<div class="row">
<div class="col-sm-4">
<p>
<h3><i class="fa-regular fa-envelope contact-icon"></i></h3>
</p>
<a href="mailto:priscilla.s.uk@gmail.com" class="contact-link" title="email link"> priscilla.s.uk@gmail.com</a>
</div>
<div class="col-sm-4">
<p>
<h3><i class="fa-brands fa-linkedin contact-icon"></i></h3>
</p>
<a href="https://www.linkedin.com/in/priscilla-scarabelli-uk/" target="_blank" class="contact-link" title="Linkedin Profile">Priscilla Scarabelli</a>
</div>
<div class="col-sm-4">
<p>
<h3><i class="fa-brands fa-github contact-icon"></i></h3>
</p>
<a href="https://github.com/priscarabelli" target="_blank" class="contact-link" title="Github Repositories">Repositories</a>
</div>

</div>
<img src={Logo.src} alt="logo" width="200px" class="img-fluid contact-logo" title="Logo">
<p class="text-center contact-p mt-4">This project was coded by Priscilla and is open-sourced on Github. </p>

</div>
</Layouts>

<style>
    .contact-h1{
        font-family: var(--heading-font-family);
        font-size: 80px;   
        padding: 20px;
    }
  .contact-icon{
        font-size: 50px;
        padding-top: 100px;
    }
    .contact-link{
        text-decoration: none;
        font-family: var(--paragraph-font-family);
        font-weight: bold;
    }
    .contact-logo{
        padding-top: 70px;
    }
    .contact-p{
        font-family: var(--paragraph-font-family);  
    }

    @media (max-width:900px){
        .contact-h1  {
            font-size: 60px;
            padding: 10px;     
        }
       
        .contact-p{
            font-size: 18px;
            padding-top: 20px;
        }
        .contact-icon{
            padding-top: 30px;
        }
    }

</style>