---
import "../styles/global.css";

---

<div class="container">
<footer>
    <script src="https://kit.fontawesome.com/fcadf5c39a.js" crossorigin="anonymous"></script>
    <a href="https://www.linkedin.com/in/priscilla-scarabelli-uk/" target="_blank" title="Linkedin Profile"><i class="fa-brands fa-linkedin "></i></a>
    <a href="https://github.com/priscarabelli" target="_blank" title="Github Repositories"><i class="fa-brands fa-github " style="color: #030507;"></i></a>
    </footer>
</div>
<style>   

.container{
    padding: 50px;
}
.footer-icons , i {
    color: black;
    font-size: 30px;
    padding: 10px;
    text-align: center;
 }
</style>